{% extends 'base.html' %}

{% block title %}Эксперименты с Django{% endblock %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %}
                class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% block main %}
    <a href="{% url 'articles_create' %}" style="text-decoration: none">Создать
        новую статью</a>
    <h2>{{ title }}</h2>
    {% for article in articles %}
        <h3>{{ article.title }}</h3>
        <a href="{% url 'articles_detail' article.id %}"
           style="text-decoration: none">Читать</a>
        <div>{{ article.text|slice:200 }}</div>

    {% endfor %}

{% endblock %}